* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
body {
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgb(250, 222, 250), rgb(230, 237, 255));
}

nav {
  background: linear-gradient(to top, rgb(28, 55, 93), rgb(4, 17, 37));
  text-align: center;
  padding: 15px 0px 15px 0px;
  position: sticky;
  top: 0;
}
nav a {
  font-size: 24px;
  font-weight: 700;
  color: aliceblue;
  text-decoration: none;
}

main {
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.loading {
  height: 100vh;
  text-align: center;
  font-size: 1.75rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  text-align: justify;
  gap: 10px;
  border: 1px solid rgba(28, 55, 93, 0.8);
  padding: 25px;
  height: auto;
  width: 80%;
  transition: all 0.25s ease-in-out;
  border-radius: 2px;
}

.card:hover {
  box-shadow: 0px 0px 15px 0px rgba(28, 55, 93, 0.4);
}
.title {
  font-size: 1.3rem;
}

.md {
  text-align: justify;
  line-height: 1.25;
}

.md p {
  margin: 5px 0px;
}

.md ul {
  margin-left: 19px;
}

.md ol {
  margin-left: 19px;
}
.md hr {
  margin: 20px 0px;
}

.link {
  background-color: rgb(28, 55, 93);
  text-decoration: none;
  font-size: 1.1rem;
  border-radius: 2px;

  padding: 7px 15px;
  color: aliceblue;
  transition: all 0.25s ease-in-out;
}
.link:hover {
  background-color: rgb(57, 97, 151);
}
.score {
  font-size: 1.1rem;
  color: rgb(202, 13, 13);
  font-weight: 700;
}
