* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

nav {
  background: linear-gradient(to top, rgb(28, 55, 93), rgb(4, 17, 37));
  text-align: center;
  padding: 15px 0px 15px 0px;
  position: sticky;
  top: 0;
}
nav a {
  font-size: 24px;
  font-weight: 700;
  color: aliceblue;
  text-decoration: none;
}

main {
  background: linear-gradient(to top, rgb(245, 250, 255), rgb(212, 234, 255));
  min-height: 100vh;
  padding: 50px 100px;

  /* display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap; */

  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  gap: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  gap: 12px;
  border: 1px solid rgba(28, 55, 93, 0.466);
  padding: 15px;
  height: 275px;
  /* width: 400px; */
  transition: all 0.25s ease-in-out;
  border-radius: 2px;
}

.card:hover {
  box-shadow: 0px 0px 10px 0px rgba(28, 55, 93, 0.4);
}
.title {
  font-size: 1.3rem;
}
.self-text {
  font-size: 1.1rem;
  margin-top: 12px;
  color: rgb(28, 55, 93);
}

.link {
  background-color: rgb(28, 55, 93);
  text-decoration: none;
  font-size: 1.1rem;
  border-radius: 2px;

  padding: 7px 12px;
  color: aliceblue;
  transition: all 0.25s ease-in-out;
}
.link:hover {
  background-color: rgb(57, 97, 151);
}
.score {
  font-size: 1.1rem;
  font-weight: 700;
}
